@model IEnumerable<IMS.Models.GstTb>
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Session
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
<h1>GST</h1>

@if (@HttpContextAccessor.HttpContext.Session.GetInt32("createandupdate") == 1)
{

    <p>
        <a asp-action="Create">Add GSTslab</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cgst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sgst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Igst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cgst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sgst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Igst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
                <td>
                    @if (@HttpContextAccessor.HttpContext.Session.GetInt32("createandupdate") == 1)
                    {
                        <a asp-action="Edit" asp-route-id="@item.GstId">Edit</a>
                    } |
                    @if (@HttpContextAccessor.HttpContext.Session.GetInt32("view") == 1)
                    {
                        <a asp-action="Details" asp-route-id="@item.GstId">Details</a>
                    } |
                    @if (@HttpContextAccessor.HttpContext.Session.GetInt32("delete") == 1)
                    {
                        <a asp-action="Delete" asp-route-id="@item.GstId">Delete</a>
                    }
                 
                 
                
            </td>
        </tr>
}
    </tbody>
</table>
</div>
