@model IMS.Models.SupplierTb

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
@* <h1>Delete</h1> *@

<h3>Are you sure you want to delete this</h3>
<div>
    <h4>Supplier Data?</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupMobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupMobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupGstNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupGstNumber)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SupId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</div>