@model IMS.Models.SupplierTb

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
<h1>Supplier Details</h1>

<div>
    @* <h4>SupplierTb</h4> *@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupMobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupMobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupGstNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupGstNumber)
        </dd>
    </dl>
</div>
<div>
    @* <a asp-action="Edit" asp-route-id="@Model.SupId">Edit</a> | *@
    <a asp-action="Index">Back to List</a>
</div>
</div>