@model IEnumerable<IMS.Models.SupplierTb>
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Session
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
<h1>Suppliers</h1>

    @if(@HttpContextAccessor.HttpContext.Session.GetInt32("createandupdate")==1)
    {

        <p>
            <a asp-action="Create">Add Suppliers</a>
        </p>
    }



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupMobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupGstNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupMobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupGstNumber)
            </td>
            <td>
                    @if (@HttpContextAccessor.HttpContext.Session.GetInt32("createandupdate") == 1)
                    {
                        <a asp-action="Edit" asp-route-id="@item.SupId">Edit</a> 
                    } |      
                    @if (@HttpContextAccessor.HttpContext.Session.GetInt32("view") == 1)
                    {
                        <a asp-action="Details" asp-route-id="@item.SupId">Details</a>
                    } |
                    @if (@HttpContextAccessor.HttpContext.Session.GetInt32("delete") == 1)
                    {
                        <a asp-action="Delete" asp-route-id="@item.SupId">Delete</a>
                    }
                
                
            </td>
        </tr>
}
    </tbody>
</table>
</div>