@model IEnumerable<IMS.Models.StateTb>
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Session
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sates</h1>

@if (@HttpContextAccessor.HttpContext.Session.GetInt32("createandupdate") == 1)
{

    <p>
        <a asp-action="Create">Add Satae</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StateName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StateName)
            </td>
            <td>

                    @if (@HttpContextAccessor.HttpContext.Session.GetInt32("createandupdate") == 1)
                    {
                        <a asp-action="Edit" asp-route-id="@item.StateId">Edit</a>
                    } |
                    @if (@HttpContextAccessor.HttpContext.Session.GetInt32("view") == 1)
                    {
                        <a asp-action="Details" asp-route-id="@item.StateId">Details</a>
                    } |
                    @if (@HttpContextAccessor.HttpContext.Session.GetInt32("delete") == 1)
                    {
                        <a asp-action="Delete" asp-route-id="@item.StateId">Delete</a>
                    }
                
               
                
            </td>
        </tr>
}
    </tbody>
</table>
