@model IEnumerable<IMS.Models.RoleTb>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
<h1>Role</h1>

<p>
    @* <a asp-action="Create">Add Role</a> *@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermissionCreateUpdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermissionDelete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PermissionView)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                        @Html.DisplayFor(modelItem => item.StatusDisplay)
                @* @Html.DisplayFor(modelItem => item.RoleStatus) *@
            </td>
            <td>

                        @Html.DisplayFor(modelItem => item.createupdate)
                @* @Html.DisplayFor(modelItem => item.PermissionCreateUpdate) *@
            </td>
            <td>
                        @Html.DisplayFor(modelItem => item.delete)
                @* @Html.DisplayFor(modelItem => item.PermissionDelete) *@
            </td>
            <td>
                        @Html.DisplayFor(modelItem => item.view)
                @* @Html.DisplayFor(modelItem => item.PermissionView) *@
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RoleId">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
</div>