@model IMS.Models.SalesTb

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SalesTb</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalesTyep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalesTyep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalesDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalesDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerMobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerMobile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CgstAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CgstAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SgstAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SgstAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IgstAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IgstAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gst.GstName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.ItemName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Password)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SalesId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
