@model IEnumerable<IMS.Models.ItemTb>
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Session
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
<h1>Item</h1>

@if (@HttpContextAccessor.HttpContext.Session.GetInt32("createandupdate") == 1)
{

    <p>
        <a asp-action="Create">Add Item</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemPurchaseRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemSalesRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemHsn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemClass)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemPurchaseRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemSalesRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemHsn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemClass.ClassName)
            </td>
                <td>
                    @if (@HttpContextAccessor.HttpContext.Session.GetInt32("createandupdate") == 1)
                    {
                        <a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a>
                    } |
                    @if (@HttpContextAccessor.HttpContext.Session.GetInt32("view") == 1)
                    {
                        <a asp-action="Details" asp-route-id="@item.ItemId">Details</a>
                    } |
                    @if (@HttpContextAccessor.HttpContext.Session.GetInt32("delete") == 1)
                    {
                        <a asp-action="Delete" asp-route-id="@item.ItemId">Delete</a>
                    }
                
               
               
            </td>
        </tr>
}
    </tbody>
</table>
</div>