@model IEnumerable<IMS.Models.ClassTb>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cgst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sgst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Igst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cgst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sgst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Igst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClassId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClassId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClassId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
