@model IEnumerable<IMS.Models.ClassTb>
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Session
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Category</h1>
@if (@HttpContextAccessor.HttpContext.Session.GetInt32("createandupdate") == 1)
{

    <p>
        <a asp-action="Create">Add Category</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cgst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sgst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Igst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gst)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cgst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sgst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Igst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gst.GstName)
            </td>
                <td>
                    @if (@HttpContextAccessor.HttpContext.Session.GetInt32("createandupdate") == 1)
                    {
                        <a asp-action="Edit" asp-route-id="@item.ClassId">Edit</a>
                    } |
                    @if (@HttpContextAccessor.HttpContext.Session.GetInt32("view") == 1)
                    {
                        <a asp-action="Details" asp-route-id="@item.ClassId">Details</a>
                    } |
                    @if (@HttpContextAccessor.HttpContext.Session.GetInt32("delete") == 1)
                    {
                        <a asp-action="Delete" asp-route-id="@item.ClassId">Delete</a>
                    }
                 
                 
               
            </td>
        </tr>
}
    </tbody>
</table>
